extends base

block content
	ul.unstyled
		li
			.list-head number of quizzes taken: 
			strong= stats.totalQuizzesTaken
		li
			.list-head number of quizzes passed: 
			strong= stats.quizzesPassed
		li
			.list-head number of quizzes failed: 
			strong= stats.quizzesFailed
		li
			.list-head % quizzes passed: 
			strong= stats.percentPassed
		li
			.list-head total words translated: 
			strong= stats.totalWordsTranslated
		li
			.list-head total correct translations: 
			strong= stats.translatedCorrectly
		li
			.list-head total incorrect translations: 
			strong= stats.translatedIncorrectly
		li
			.list-head % correct translations: 
			strong= stats.percentTranslated
		li
			.list-head best 10 words
			ul
				each word in stats.bestTenWords
					li= word
		li
			.list-head worst 10 words
			ul
				each word in stats.worstTenWords
					li= word
		button.block reset all data